@page
@model raBudget.Api.Areas.Identity.Pages.LoginModel
@using Microsoft.AspNetCore.Mvc.Localization
@using raBudget.Api.Infrastructure
@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = Localizer["Title"];
}

<div class="row h-100 justify-content-center">
    <div class="col align-self-center" style="max-width: 480px">
        <div class="mdc-card">
            <div class="card-title py-4 mdc-theme--primary-bg mdc-theme--on-primary">
                <h2 class="text-center my-auto align-middle">@ViewData["Title"]</h2>
            </div>
            <div class="mdc-card-content text-center">
                <form id="account" method="post">

                    <div class="form-inputs-container">
                        <div class="mb-2">
                            @Html.MdcTextBoxFor(m => m.Email)
                        </div>
                        <div class="mb-2">
                            @Html.MdcTextBoxFor(m => m.Password, new {type = "password"})
                        </div>
                        <div class="mb-2">
                            @Html.MdcCheckBoxFor(m => m.RememberMe)
                        </div>
                    </div>

                    <div class="form-group mt-2">
                        @Html.MdcButton(eButtonType.Submit, Localizer["LoginButton"].Value, "mdi:login")
                    </div>

                </form>
                @{
                    if ((Model.ExternalLogins?.Count ?? 0) > 0)
                    {
                        <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                            <div>
                                <p>
                                    @foreach (var provider in Model.ExternalLogins)
                                    {
                                        <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="@Localizer["LoginWith", @provider.DisplayName]">@provider.DisplayName</button>
                                    }
                                </p>
                            </div>
                        </form>
                    }
                }

                <div class="form-group">
                    <p>
                        <a id="forgot-password" asp-page="./ForgotPassword">@Localizer["ForgotPassword"]</a>
                    </p>
                    <p>
                        <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">@Localizer["Register"]</a>
                    </p>
                </div>
            </div>

        </div>
    </div>
</div>